{% extends "base.html" %}

{% load static %}

{% block title %}Registered Events{% endblock %}

{% block css %}{% static 'css/style.css' %}{% endblock %}

{% block content %}
<!-- Event-list -->
<div class="container">
	<div class="row">
	{% if user.is_authenticated %}
		{% if all_events %}
			{% for event in all_events %}
				<div class="event col-sm-4">
					<div class="top-box top-box-center">
						<div class="title">{{ event.title }}</div>
					</div>
					<div class="back-box event-back-box">
						<div class="front-box event-front-box no-border">
	                        <p class="desc">{{ event.date }} - {{ event.time }}</p>
							<p class="desc">{{ event.description }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
	    {% else %}
	    	<h2 class="top-title">You have no registered event at the moment</h2>
	    {% endif %}
    {% else %}
		<h2 class="top-title">You must login to see this page</h2>
	{% endif %}
	</div>
</div>
{% endblock %}