{% extends "base.html" %}
{% block title %}Register as Member{% endblock %}

{% block content %}
<div class="container">
    <div class="top-box top-box-center">
		<div class="title">Register as Member</div>
	</div>
    <div class="front-box">
		<form method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
{% endblock %}
