{% extends "base.html" %}

{% load static %}

{% block title %}Daftar sebagai event{% endblock %}

{% block css %}{% static 'css/style.css' %}{% endblock %}

{% block content %}
<!-- Form-box -->
<div class="container">
	<div class="top-box top-box-center">
		<div class="title">Daftar sebagai member</div>
	</div>
	<div class="front-box">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
{% endblock %}
