{% extends "base.html" %}

{% load static %}

{% block title %}News{% endblock %}

{% block css %}{% static 'css/style.css' %}{% endblock %}

{% block content %}
<!-- News-list -->
<div class="container">

    <h2 class="top-title">About</h2>
    <br>
    <h3> This website was made with Django by Team 4 </h3>
    <br>
    <br>


    <div class="form-testimoni" id="subbutton">
        <div class="front-box">
    		<form id="testiForm" method="post">
                {% csrf_token %}
                {% for field in form %}
    				{{ field }}<br>
    			{% endfor %}
    			<input  type="submit" value="Submit">
    		</form>
    	</div>
    </div>


    {% if daftar_testi %}
    <h2 class="top-title">Testimoni</h2>
	{% for testi in daftar_testi %}
	<div class="top-box row">
		<div class="title col-sm-8">{{ testi.nama }}</div>
		<div class="date-box col-sm-4">{{ testi.waktu }}</div>
	</div>
	<div class="back-box news-back-box2 col-sm-12">
		<div class="front-box no-border col-sm-12">
			<p class="desc">{{ testi.testi }}</p>
		</div>
		<div class="bottom-box">
			-{{ testi.username }}
		</div>
	</div>
	{% endfor %}
    {% else %}
    <h2 class="top-title">Belum ada Testimoni untuk Saat ini</h2>
    {% endif %}
</div>

<script>
    $(document).ready( function() {
        var submit_button = document.getElementById("subbutton");
        var authd = document.getElementById("authenticated");
        submit_button.style.display = "none";
        if(authd) {
            submit_button.style.display = "block";
        }
    });

	//$(document).ready( function() {
    //    $('#testiForm').on('submit', function(event) {
    //        event.preventDefault();
    //        call_views_tambah();
    //    });
    //    $.ajax({
    //        var jsonstuff = jQuery.parseJSON(success);
    //    });
    //});

    //function call_view_tambah() {
    //    $.ajax({
    //        url: "http://ppw-e-tp.herokuapp.com/events/",
    //        type: "GET",
    //        data: {testimonial : $('#testiForm').val()},
    //        success: $(#testiForm).val('')
    //    });
    //}

</script>

{% endblock %}
