{% extends "base.html" %}

{% load static %}

{% block title %}Daftar ikut event{% endblock %}

{% block css %}{% static 'css/style.css' %}{% endblock %}

{% block content %}
<!-- Form-box -->
<div class="container">
	<div class="top-box top-box-center">
		<div class="title">Daftar ikut event</div>
	</div>
	<div class="front-box">
		{% if form.errors %}
		    {% for field in form %}
		        {% for error in field.errors %}
		            <p style="color: red">{{ error|escape }}</p>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		            <p style="color: red">{{ error|escape }}</p>
		    {% endfor %}
		{% endif %}
		<form method="post">
			{% csrf_token %}
			{% for field in form %}
				{{ field }}<br>
			{% endfor %}
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
{% endblock %}