<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="{% block css %}{% endblock %}">



</head>
<body>
<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top mynav">
	 	<div class="container-fluid">
	   		<ul class="nav navbar-nav">
	    		<li><a href="../news">Home</a></li>
	      		<li><a href="../news">News</a></li>
	      		<li><a href="../events">Event</a></li>
                <li><a href="../about">About</a></li>
	      		<li><a href="../registered-events/">Daftar Event</a></li>
			</ul>
			<div style="float: right; padding: 5px;">
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav">
					<li><a id="authenticated" href="../sign/out">Halo, {{ user.get_full_name }}!</a></li>
				</ul>
				<a class="btn navbar-btn button-nav" href="../sign/out" style="background-color:brown">Sign out</a>
				{% else %}
				<div class="btn navbar-btn button-nav" style="background-color:whitesmoke; width: auto;">
					<a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
						<div style="color:black">
							<img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
							Sign in with Google
						</div>
					</a>
				</div>
				{% endif %}
			</div>
	    	<!-- <a href="../register-as-member" style="float:right"><button class="btn navbar-btn button-nav">Daftar Member</button></a> -->
		  </div>

	</nav>
{% block content %}{% endblock %}
</body>
</html>
